

body {
    font-family: Calibri, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DDD;
    background-image: url("../img/newspaperbg.jpg");
    background-repeat: repeat;
    background-size: cover;
    margin-bottom: 70px;
}
/* Relevante para mostrar los artículos individuales */
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div {
    border: 1px solid black;
    width: 400px;
    padding: 10px;
    margin: 20px;
    background-repeat: no-repeat;
    background-position: bottom 10px right 20px; 
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.2);
}

.alimentacion {
    background-image: url("../img/alimentacionk2.jpg");
}

.deporte {
    background-image: url("../img/deportek.jpg");
}

.ciencia {
    background-image: url("../img/cienciak2.jpg");
}

.tecnologia {
    background-image: url("../img/tecnologiak.jpg");
}

.cine {
    background-image: url("../img/cinek.jpg");
}

.sucesos {
    background-image: url("../img/sucesosk3.jpg");
}
/* ___________________________________________________ */

h1, header {
    font-family: Script Normal;
}

header {
    background-color: #555;
    padding: 2px;
    text-align: center;
    color: #ddd; 
    mix-blend-mode: darken; 
}

.accion {
    animation: 0.5s movimiento forwards ease-in-out;
}

@keyframes movimiento {
    40% {
        position: relative;
        top: 0px;
    }
    100% {
        position: relative;
        top: -15px;
    }
}

@media screen and (min-width: 850px) {
    .cambiarTamanio {
        animation: cambiotamanio 2s forwards;
    }
}

@keyframes cambiotamanio {
    100% { margin: 0 8px;}    
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(161,131,107);
    padding: 10px;
}

nav a, a {
    text-decoration: none;
}

nav a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: 1s ease-out;
}

nav a:hover {
    background-color: #555;
    color: yellow;
}

.bordeNaranja {
    border: 2px solid orange;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #DDD;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

input, textarea {
    padding: 8px;
    margin-bottom: 16px;
    border: 1.5px solid rgb(161,131,107);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

/* style="position: fixed; top: 88%; left: 50%; transform: translate(-50%,-30%)" */
#formularioBusqueda {
    position: fixed;
    width: 120px;
    top: 85%;
    right: 2%;
    /* transform: translate(-50%,-50%); */
}


footer {
    background-color: #666;
    /* padding: 5px; */
    text-align: center;
    color: #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#derechos {
    font-size: 11px;
}